<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServiceUrl" value="http://test.ethorstat.com/test.ashx" />
    <add key="IsDev" value="true"/>
  </appSettings>
</configuration>